* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
}

p {
    color: #555555;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100%;
}

/* Header section styling */

.header {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.search {
    grid-column: 1 / 3;

    display: flex;
    align-items: center;
    gap: 10px;

    padding: 0px 40px;
}

.search > svg {
    height: 25px;
}

.s-bar {
    width: 100%;
    padding: 5px;
    border-radius: 100px;
    border: none;
    background-color: #E2E8F0;
}

.u-details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.u-details > svg {
    height: 30px;
}

.u-details > img {
    height: 60px;
}

.u-name {
    grid-column: 1 / 3;
    padding: 0px 40px;
    display: flex;
    align-items: center;
}

.u-name > img {
    height: 90px;
    float: left;
}

.p-greet {
    font-weight: bold;
    color: black;
}

.p-name {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn-container > button {
    background-color: #1992D4;
    color: white;
    padding: 15px 40px;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
}

.btn-container > button:hover {
    background-color: #449ece;
}

.btn-container > button:active {
    background-color: #098bd1;
}

/* Sidebar Styling */

.sidebar {
    background-color: #1992D4;
    color: white;
    grid-row: 1 / 7;
}

.side-content {
    margin-bottom: 15px;
    padding: 15px 30px;
    font-size: 1.5rem;
    font-weight: bold;
}

.heading {
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.heading > svg {
    height: 3rem;
    width: 3rem;
    margin-right: 20px;
    fill: white;
}

.side-content > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.side-content > ul > li > svg {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 20px;
    fill: white;
}

.side-content > ul > li {
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

/* Main Section Styling */

.main-section {
    background-color: #E2E8F0;
    grid-row: 2 / 7;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 20px;
}

.main-content {
    font-size: 0.8rem;
}

.main-content > h1 {
    margin: 20px 0px;
}

.projects-section {
    grid-column: 1 / 4;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 25px;
}

.project-grid > .projects {
    height: 200px;
    border-radius: 10px;
    border-left: 10px solid #F0B429;
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.projects > .interactions {
    display: flex;
    gap: 10px;
    justify-content: flex-end;

    margin-top: 30px;
}

.projects > .interactions > svg {
    height: 25px;
    width: 25px;
}

.announcements-section > div{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 25px;
}

.hp {
    font-weight: bold;
    font-size: 1.1em;
    color: black;
}

hr {
    margin: 10px 0px;
    border: none; 
    height: 1px; 
    background-color: lightgray; 
}

.card-t > .user {
    padding: 10px;
    display: flex;
    align-items: center;
}

.card-t > .user > img {
    float: left;
    height: 50px;
    border-radius: 50%;
}